* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea {
    border: 1px solid var(--secundary-color);
    padding: 8px;
}

input, textarea, button {
    width: 100%;
    border-radius: 5px;
}

textarea {
    resize: none;
    font-family: 'Roboto', sans-serif;
    height: 100px;
}